<html>
	<head>
		<meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='images/file.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" value = "Practice | DBMS">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/59b8e18344.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
/>
    <title>Where | DBMS</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
		<style>
			.border{
				margin: 15vh 25vw 20vh 25vw;
				width: 50vw;
				height: 60vh;
				padding: 3vw;
				align-items: center;
				align-content: center;
				border: 1px solid #236B8E;
				border-radius: 0px;
				background-color: lightgray;
			}
		</style>
	</head>
	<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalLabel">Login Status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endwith %}
		<div class="site">
			<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class = "collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" href="/display">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                {% else %}
                <a class="nav-item nav-link" id="adminLogin" href="/admin-login">Admin Login</a>
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                {% endif %}
                
            </div>
        </div>
    </nav>
			<div align="center" class="border">
				<h1>INSERT WHERE CLAUSE PARAMETERS</h1>
				<br><br>
				<form  action="/where/{{ key }}" method="post">
					<div class = "msg">{{ msg }}</div>
					<input id="Column_Name" name="Column_Name" type="text" placeholder="Enter column name" class="form-control"/></br></br>
					<input id="Value" name="Value" placeholder="Enter value to be searched" class="form-control"/>
					<br>
					<input type="submit"  class="btn btn-primary btn-lg" value="SUBMIT" name = "SUBMIT "></br>
				</form>
			</div>
		</div>
		</div>
        
        <script>
            $(document).ready(function() {
                // Show modal if there are any flash messages
                if ("{{ get_flashed_messages()|length > 0 }}") {
                    $('#loginModal').modal('show');
                }
            });
        </script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>   
        <script
            type="text/javascript"
            src = "{{ url_for('static', filename='index.js')}}"  
        ></script>
	</body>
</html>